<!DOCTYPE html>
<html lang="es-ES">

<head>
    <meta charset="utf-8">
    <title>FaceBluff</title>
    <link rel="stylesheet" href="/css/newUser.css" media="screen">
    <link rel="stylesheet" href="/css/perfil.css" media="screen">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Baloo|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css" media="screen">
</head>

<body>
    <%- include("header") %>
        <main>
            <h1>Nuevo Usuario</h1>
            <form action="modificarPerfil" method="POST" enctype="multipart/form-data">
                <div class="loginF">

                    <div class="formul">
                        <label for="name">Email</label>
                        <input type="text" name="name" value="<%= email %>" id="txt_name" placeholder="Correo" required>
                    </div>
                    <div class="formul">
                        <label for="pass">Contraseña</label>
                        <input type="password" name="pass" value="" placeholder="Contraseña" required>
                    </div>
                    <div class="formul">
                        <label for="full_name">Nombre completo</label>
                        <input type="text" name="full_name" value="<%= full_name %>" placeholder="Nombre completo" required>
                    </div>
                    <div class="formul">
                        <label for="sexo">Sexo</label>
                        <input type="radio" name="sexo" value="masculino" <% if(sexo=="masculino" ) { %> checked
                        <% } %>> <span>Hombre</span>
                            <input type="radio" name="sexo" value="femenino" <% if(sexo=="femenino" ) { %> checked
                            <% } %>> <span>Mujer</span>
                                <input type="radio" name="sexo" value="otro" <% if(sexo=="otro" ) { %> checked
                                <% } %>> <span>Otro</span>
                    </div>
                    <div class="formul">
                        <label for="fecha_nacimiento">Fecha de nacimiento</label>
                        <div id="divDate">
                            <input type="date" name="fecha_nacimiento" value="<%= nacimiento %>" max="2019-01-01">
                        </div>
                    </div>
                    <div class="formul">
                        <label for="pic">Imagen de perfil</label>
                        <input type="file" name="pic" value="<%=img%>" accept="image/png" />
                    </div>
                    <div class="boton_formul">
                        <input type="submit" value="Modificar">
                    </div>

                </div>
            </form>
            <% if(errorMsg) { %>
                <strong id="errorEnRojo"><%= errorMsg %></strong>
                <% } %>
        </main>
</body>

</html>